//    Font Family

$primary-font	: 'Roboto', sans-serif;
$title-font     : 'Poppins', sans-serif;

//     General Styles
$generic-boxshadow: 0 10px 30px rgba(0,0,0,.1);

//Grid Sizes
$xs-size: 576px;
$sm-size: 768px;
$md-size: 992px;
$lg-size: 1200px;
$xl-size: 1920px;

$img-path: "../assets/img";
$gradiant-color: linear-gradient(90deg,#ffba00 0%,#ff6c00 100%);

/*--------------------------- Fonts ----------------------*/


@import url('https://fonts.googleapis.com/css?family=Poppins:500,700|Roboto:400,500');